form {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  padding: 30px;
  width: 50%;
}

/* .mb-3 {
  display: flex;
} */

.page {
  display: flex;
}

.title {
  color: blue;
  text-align: center;
}

.image {
  width: 50%;
}