form {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  padding: 30px;
  width: 50%;
}

/* .mb-3 {
    display: flex;
  } */

.page {
  display: flex;
  justify-content: center;
}

.title {
  color: blue;
  text-align: center;
}

.imginary {
  background-image: url("./assets/health-2082630.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
