#radio {
  display: inline;
}

#radio input {
  margin-left: 20px;
}

form {
  display: inline-block;
  background-color: rgb(219, 219, 219);
  padding: 30px;
}

.form {
  display:flex;
  justify-content: center;
}
